
.navigation a
{
  text-decoration: none;
  font-family: fantasy;
  font-size: 30px;
  margin-left: 2%;
}
.navigation h1
{
  color: white;
  margin-left: 15%;
}
.navigation
{
  background-color: black;
}
.right
{
  margin-left: 50%;
  margin-top: -4%;
  background-color: gray;
  border-radius: 25%;
}
.picture img
{
  height: 500px;
  width: 250px;
  border-radius: 15px;
  border: solid black;
  border-width: thick;
}
.picture
{
  margin-left: 15px;

}
body
{

     background-color: #cccccc;
}
.about
{
  border: solid brown;

  height: 50%;
  width: 50%;
  margin-left: 45%;
  margin-top: -505px;
  background-color: #cccccc;
}
#about1 h1
{
  text-align: center;
  color: red;
}
#about1 h2
{
  text-align: center;
  text-decoration: underline;
}
.about2
{
  border: solid yellow;
  border-radius: 8px;

}
.about2 h1
{
  text-align: center;
}
.about2 p
{
  font-size: 25px;
}
